.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* Estilos globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 95%;
    margin: auto;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

p,h3 {
    font-family: "Outfit", sans-serif;
}

/* header */

.header .container-image img {
    width: 100%;
    padding-top: 50px;
    object-fit: cover;
}

.header .container-text h1{
    font-size: 80px;
    padding: 30px 0;
}

.header .container-text p{
    font-size: 20px;   
    padding-bottom: 50px;
}

.container-preparation{
    padding: 30px;
    background-color: hsl(330, 100%, 98%);    
    border-radius: 10px;
    margin-bottom: 50px;
}

.container-preparation h3{
    color: hsl(332, 51%, 32%);
    margin: 0 0 20px 0 ;
}

.container-preparation ul{
    padding-left: 20px;
}

.container-preparation ul li::marker{
    color: hsl(332, 51%, 32%);
    font-size: 1.5rem;
}

.container-preparation ul li{
    color: black;
    line-height: 40px;
    font-size: 20px;
}

.container-preparation ul li span{
    font-weight: 900;
}

.container > h2{
    font-weight: 400;
    font-size: 40px;
    color: hsl(14, 45%, 36%);
    padding: 30px  0;

}

.container-ingredients ul{
    padding-left: 20px;
    padding-bottom: 30px;
}

.container-ingredients ul li::marker{
    color: hsl(14, 45%, 36%);
    font-size: 1.5rem;
}
.container-ingredients ul li{
    font-size: 20px;
    line-height: 40px;
}

.container-instructions{
    padding: 30px 0;
}

.container-instructions ol{
    padding-left: 20px;
}

.container-instructions ol li{
    line-height: 50px;
    font-size: 25px;
    padding-left: 20px;
}

.container-instructions ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 800;
}

.container-instructions ol li span{
    font-weight: 600;
}

.container-nutrition {
}

.container-nutrition p {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 3em;
}

.container-nutrition table {
    width: 100%;
    border-collapse: collapse;
}

.container-nutrition td {
    padding: 8px 0;
    border-top: 1px solid #ddd;
}

.container-nutrition td:first-child {
    color: #555;
    font-weight: bold;
}

.container-nutrition td:last-child {
    text-align: right;
    color: #8B4513;
    font-weight: bold;
    font-size: 1.2em;
}
